.titlePage{
    font-family: Arial;
    font-size: x-large;
    font-weight: bold;
    color: gray;
}
.line{
    border: none;
    height: 5px;
    color: darkgreen;
    background-color: darkgreen;
}