<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        #inputItem{
            opacity: 70%;
            height: 50%;
            border-top: hidden;
            border-left: hidden;
            border-right: hidden;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
  <body>

<!--    Navbar-->
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top" style="height: 2.5em;">
            <a class="navbar-brand pl-5" href="#">
                <i class="fa fa-home" aria-hidden="true"></i>
            </a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Invoices <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Expenses</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contracts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Quotations</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Customers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Payments</a>
                    </li>
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">...</a>
                    </li>
                </ul>
                <div class="form-inline my-2 my-lg-0 pr-5">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                            </a>
                        </li>  
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-suitcase" aria-hidden="true"></i>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="..." alt="..." class="rounded-circle">
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>


    <div class="container">
<!--        Search-->
        <div class="row pt-3">   
            <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                <legend class="font-weight-bold" style="color: green;">Draft</legend>
            </div>
            <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                <div class="form-group">
                  <input type="text" style="border-radius: 30px;" class="form-control" name="" id="" aria-describedby="helpId" placeholder="Search">
                </div>
            </div>
        </div>
        <hr>

<!--        Invoice-->
        <div class="jumbotron jumbotron-fluid">
            <div class="container">

<!--                Information-->
                <div class="row">

<!--                    CustomerInfor-->
                    <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                        <legend>Customer Information</legend>
                        <!-- Button trigger modal -->
                        <a data-toggle="modal" data-target="#customerModal" style="font-weight: bold;" class="text-muted" id="customerName">
                            Choose customer
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </a>
                        <!-- Modal -->
                        <div class="modal fade" id="customerModal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                        <div class="modal-header">
                                                <h5 class="modal-title">Select Customer</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                            </div>
                                    <div class="modal-body">
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                                                	<p th:if="${customers.size()==0}">Not found</p>
                                                    <select id="customerIdSelect" class="form-control" required="required">
                                                        <option value=""> -- </option>
                                                        <option th:each="customer : ${customers}"
                                                                th:value="${customer.id}"
                                                                th:utext="${customer.name}">
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" onclick="btnSaveCustomerClick()" data-dismiss="modal">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>

                        <!-- Button trigger modal -->
                        <a data-toggle="modal" data-target="#customerAddressModal" class="text-muted" id="customerAddress">
                            Choose billing address
                        </a>
                        <!-- Modal -->
                        <div class="modal fade" id="customerAddressModal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                        <div class="modal-header">
                                                <h5 class="modal-title">Select Customer Address</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                            </div>
                                    <div class="modal-body">
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                                                    <select id="addressSelect"  class="form-control" required="required">
                                                        <option>--</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" data-dismiss="modal">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>

                            <!-- Button trigger modal -->
                        <a data-toggle="modal" data-target="#contactModal" class="text-muted">
                            Choose contact
                            </a>
                            <!-- Modal -->
                            <div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Select  Attention</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                                                        <select name="" id="input" class="form-control" required="required">
                                                            <option value=""></option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary">Save</button>
                                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>

                            <!-- Button trigger modal -->
                        <a data-toggle="modal" data-target="#subjectModal" class="text-muted">
                            Enter invoice subject
                            </a>
                            <!-- Modal -->
                            <div class="modal fade" id="subjectModal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                            <div class="modal-header">
                                                    <h5 class="modal-title">Enter subject</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                </div>
                                        <div class="modal-body">
                                            <div class="container-fluid">
                                                <input type="text" name="" id="input" class="form-control" value="" required="required" pattern="" title="">
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary">Save</button>
                                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                        </div>
  
                    </div>

<!--                    InvoieInfo-->
                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                        <table class="table-sm">
                            <tr>
                                <th>Date</th>
                                <td style="text-right"><a data-toggle="modal" data-target="#dateModal" class="text-muted" id="date">Enter date</a></td>
                                <!-- Modal -->
                                <div class="modal fade" id="dateModal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Enter date</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="container-fluid">
                                                    <input type="date" name="" id="inputDate" class="form-control" value="" required="required" pattern="" title="">
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="btnSaveDateClick()">Save</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </tr>
                            <tr>
                                <th>Term</th>
                                <td></td>
                            </tr>
                            <tr>
                                <th>Currency</th>
                                <td></td>
                            </tr>
                            <tr>
                                <th>Create by</th>
                                <td></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <hr style="border: none;height: 5px;color: darkgreen;background-color: darkgreen;">

<!--                Item-->
                <div class="row">
                    <table class="table" >
                        <thead class="thead-dark" >
                          <tr style="font-weight: bold">
                            <td scope="col" style="border-right: 2px solid white;">#</td>
                            <td scope="col" style="width: 50%; border-right: 2px solid white;">Item</td>
                            <td scope="col" style="border-right: 2px solid white;">Quantity</td>
                            <td scope="col" style="border-right: 2px solid white;">Unit price</td>
                            <td scope="col">Total</td>
                          </tr>
                        </thead>
                        <tbody id="tblItem">
                          <tr id="item1">
                            <td scope="row">1<input type="hidden" id="idProductItem1" value="0"/></td>
                            <td>
                                <i class="fa fa-trash pt-2" aria-hidden="true" style="float: left;" title="Delete item" onclick="deleteItemByNumber(1)"></i>
                                <div class="col-sm-8" style="float: left;">
                                    <input type="text" name="" id="inputItemName1" class="form-control" value="" required="required" >
                                </div>
                                <!-- Item modal -->
                                <a data-toggle="modal" data-target="#itemModal1">
                                    <i class="fa fa-list pt-2" aria-hidden="true" title="Select from list"></i>
                                </a>
                                <!-- Modal -->
                                <div class="modal fade" id="itemModal1" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Item template</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="container-fluid">
                                                    <div class="row">
                                                        <div class="form-group">
                                                            <input type="search" name="" id="input" class="form-control" value="" required="required" title="" style="float: left; border-radius: 20px; height: 90%;" placeholder="Search">
                                                        </div>
                                                        <br>
                                                        <table class="table table-striped" style="border: outset;" >
                                                            <thead>
                                                                <tr style="border-bottom: outset;">
                                                                    <th scope="col">Item</th>
                                                                    <th scope="col">Unit Price</th>
                                                                    <th scope="col"></th>
                                                                </tr>
                                                            </thead>
                                                            <tbody id="listProduct1">
                                                            </tbody>
                                                        </table>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td><input type="number" name="" id="inputItemQuantity1" class="form-control" value="1" required="required"  onchange="change();"></td>
                            <td><input type="text" name="" id="inputItemUnitPrice1" class="form-control" value="0" required="required" disabled></td>
                            <td><input type="text" name="" id="inputItemTotal1" class="form-control" value="0" required="required" disabled></td>
                          </tr>
                        </tbody>
                    </table>
                    <a href="#" id="btnAddItem"><i class="fa fa-plus-circle" aria-hidden="true"></i>Add item</a>
                </div>
                <br>

<!--                Subtotal-->
                <div class="row">
                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5"></div>
                    <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                        <div class="card">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col-md-6" style="font-weight: bolder;">Sub total:</div>
                                    <div class="col-md-6"><input type="text" name="" id="inputSubTotal" class="form-control" value="0" required="required" disabled/></div>
                                </div>
                            </div>
                            <div class="card-body">
                                <a class="text-muted" style="font-size: small;" href="#" id="btnAddDiscount">
                                    <i class="fa fa-plus" aria-hidden="true" ></i>
                                    Add discount
                                </a>
                                <table class="table" id="tblDiscount">
                                    <tr>
                                        <td>
                                            <i class="fa fa-trash pt-2" aria-hidden="true"></i>
                                        </td>
                                        <td>
                                            <input type="text" name="" id="inputItem" class="form-control" value="" required="required" placeholder="Discount"/>
                                        </td>
                                        <td>
                                            <input type="text" name="" id="inputItem" class="form-control" value="" required="required">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <i class="fa fa-trash pt-2" aria-hidden="true"></i>
                                        </td>
                                        <td>
                                            <input type="text" name="" id="inputItem" class="form-control" value="" required="required" placeholder="Discount"/>
                                        </td>
                                        <td>
                                            <input type="text" name="" id="inputItem" class="form-control" value="" required="required">
                                        </td>
                                    </tr>
                                </table>
                                <a class="text-muted" style="font-size: small;" href="#" id="btnAddTax">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                    Add tax
                                </a>
                                <table class="table" id="tblTax">
                                    <tr>
                                        <td>
                                            <i class="fa fa-trash pt-2" aria-hidden="true"></i>
                                        </td>
                                        <td style="width: 46%;">
                                            <select name="" id="inputItem" class="form-control" required="required">
                                                <option value=""></option>
                                            </select>
                                        </td>
                                        <td>
                                            <input type="text" name="" id="inputItem" class="form-control" value="" required="required">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <i class="fa fa-trash pt-2" aria-hidden="true"></i>
                                        </td>
                                        <td>
                                            <select name="" id="inputItem" class="form-control" required="required">
                                                <option value=""></option>
                                            </select>
                                        </td>
                                        <td>
                                            <input type="text" name="" id="inputItem" class="form-control" value="" required="required">
                                        </td>
                                    </tr>
                                </table>

                                <table class="table">
                                    <tr>
                                        <td>
                                        </td>
                                        <th style="width: 46%;">
                                            Total
                                        </th>
                                        <td>
                                            <input type="text" name="" id="inputItem" class="form-control" value="" required="required">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                        </td>
                                        <th>Paid</th>
                                        <td>
                                            <input type="text" name="" id="inputItem" class="form-control" value="" required="required">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                        </td>
                                        <th>Outstanding</th>
                                        <td>
                                            <input type="text" name="" id="inputItem" class="form-control" value="" required="required">
                                        </td>
                                    </tr>
                                </table>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>

<!--        Payment-->
        <div class="card text-white bg-success mb-3">
            <div class="card-header">Payment</div>
            <div class="card-body" style="background-color: aliceblue;">
              <h5 class="card-title">Success card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        <hr style="border: none;height: 5px;color: darkgreen;background-color: darkgreen;">
        <div class="row pt-3 pb-3">
            <div class="col-md-3"></div>
            <div class="col--md-6">
                <button class="btn btn-success" onclick="saveInvoice();">Save</button>
            </div>
        </div>
    </div>

    <div class="container-fluid bg-dark pt-2">
        <div style="color: white">Sunchinsusu</div>
    </div>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- ajax -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Optional JavaScript -->

    <script type="text/javascript">
        var listProduct;
        var listItem = new Array();
        var subTotal;
        var invoiceCustomer = new Object();
        var invoiceDate;
        var invoice = new Object();

        function saveInvoice(){
            subTotal = 0;

            invoice = {
                customer : {
                    id : invoiceCustomer.id
                },
                date : invoiceDate,
            }
            var invoiceJson = JSON.stringify(invoice);
            console.log(invoiceJson);
            $.ajax({
                type: 'POST',
                url: '/api/invoice/create',
                header : {
                    "Content-Type" : "application/json"
                },
                contentType : 'application/json',
                data : invoiceJson,
                dataType: 'json',
                success: function(newInvoice) {
                    for(var i = 1; i <= index; i++){
                        var idItem = "item"+i;
                        if(document.getElementById(idItem) != null){
                            var idProductStr = "#idProductItem"+i;
                            var idProduct = $(idProductStr).val();
                            var product;
                            console.log("List Product : ");
                            for(var p = 0; p< listProduct.length; p++){
                                if(listProduct[p].id == idProduct){
                                    product = listProduct[p];
                                }
                            }
                            var idInputItemUnitPrice = "#inputItemUnitPrice"+i;
                            var idInputItemQuantity = "#inputItemQuantity"+i;
                            var unitPrice = $(idInputItemUnitPrice).val() ;
                            var quantity = $(idInputItemQuantity).val() ;
                            var total = unitPrice * quantity;
                            var item = {
                                invoice : {
                                    id : newInvoice.id
                                },
                                catalogProduct : product,
                                quantity : quantity,
                                value : unitPrice,
                                total : total
                            }
                            listItem.push(item);
                            subTotal += total;
                        }
                    }
                    var listItemJson = JSON.stringify(listItem);
                    $.ajax({
                        type: 'POST',
                        url: '/api/invoiceItem/create/list',
                        header : {
                            "Content-Type" : "application/json"
                        },
                        contentType : 'application/json',
                        data : listItemJson,
                        dataType: 'json',
                        success: function(newListItem) {
                            alert("Success");
                        },
                        error: function(jqXHR, textStatus, errorThrown) {
                            // Fail
                            alert("Fail");
                        }

                })},
                error: function(jqXHR, textStatus, errorThrown) {
                    // Fail
                    alert("Fail");
                }
            });
        }

        function change(){
            subTotal = 0;
            for(var i = 1; i <= index; i++){
                var idItem = "item"+i;
                if(document.getElementById(idItem) != null){
                    // change Html
                    var idInputItemUnitPrice = "#inputItemUnitPrice"+i;
                    var idInputItemQuantity = "#inputItemQuantity"+i;
                    var unitPrice = $(idInputItemUnitPrice).val() ;
                    var quantity = $(idInputItemQuantity).val() ;
                    var total = unitPrice * quantity;
                    subTotal += total;
                    var idInputItemTotal = "inputItemTotal"+i;
                    document.getElementById(idInputItemTotal).setAttribute("value", total);
                }
            }
            document.getElementById("inputSubTotal").setAttribute("value", subTotal);
        }

        function deleteItemByNumber(number){
            var idItem = "#item"+number;
            $(idItem).remove();
            change();
        };

        function insertProductById(idProduct, itemNumber){
            console.log(idProduct);
            var product;
            for(var i = 0; i< listProduct.length; i++){
                if(listProduct[i].id === idProduct){
                    product = listProduct[i];
                }
            }
            document.getElementById("idProductItem"+itemNumber).setAttribute("value", product.id);
            document.getElementById("inputItemName"+itemNumber).setAttribute("value", product.name);
            document.getElementById("inputItemUnitPrice"+itemNumber).setAttribute("value", product.price);
            document.getElementById("inputItemTotal"+itemNumber).setAttribute("value", product.price);
            change();
        }

        window.onload = function(){
            $.ajax({
                type: 'get',
                url: '/api/catalogProduct/get',
                header : {
                    "Content-Type" : "application/json"
                },
                contentType : 'application/json',
                dataType: 'json',
                success: function(products) {
                    listProduct = products;
                    for (var i = 0; i < products.length; i++){
                        $("#listProduct1").append('<tr><td>'+products[i].name+'</td><td>'+products[i].price+'</td><td ><a href="#" onclick="insertProductById('+products[i].id+',1)" data-dismiss="modal">insert</a></td></tr>');
                    }
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    // Fail
                }
            });
        };



        function btnSaveCustomerClick(){
            var idCustomer = document.getElementById("customerIdSelect").value;
            $.ajax({
                type: 'get',
                url: '/api/customer/get/'+idCustomer,
                header : {
                    "Content-Type" : "application/json"
                },
                contentType : 'application/json',
                dataType: 'json',
                success: function(customer) {
                    invoiceCustomer = customer;
                    $("#customerName").html(customer.name);
                    var address = customer.address;
                    var html = "ADDRESS: City: "+ address.city + " Phone: "+address.phone1+" Website: "+address.websiteUrl;

                    $("#customerAddress").html(html);

                    console.log(customer);
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    // Fail
                }
            });
        }

        function btnSaveDateClick(){
            var date = document.getElementById("inputDate").value;
            if(date === ""){
                date = "Enter date";
            }
            invoiceDate = date;
            $("#date").html(date);
        }

        $('#customerModal').on('show.bs.modal', event => {
            var button = $(event.relatedTarget);
            var modal = $(this);
            // Use above variables to manipulate the DOM

        });
        $('#billingAddressModal').on('show.bs.modal', event => {
            var button = $(event.relatedTarget);
            var modal = $(this);
            // Use above variables to manipulate the DOM

        });
        $('#contactModal').on('show.bs.modal', event => {
            var button = $(event.relatedTarget);
            var modal = $(this);
            // Use above variables to manipulate the DOM

        });
        $('#subjectModal').on('show.bs.modal', event => {
            var button = $(event.relatedTarget);
            var modal = $(this);
            // Use above variables to manipulate the DOM

        });
        $('#itemModal').on('show.bs.modal', event => {
            var button = $(event.relatedTarget);
            var modal = $(this);
            // Use above variables to manipulate the DOM

        });
        var index = 1;

        $("#btnAddItem").click(function(){
            index += 1;
            $("#tblItem").append(
                '<tr id="item'+index+'">'
                +'<td scope="row">'+index+'<input type="hidden" id="idProductItem'+index+'" value="0"/></td>'
                +'<td>'
                +'<i class="fa fa-trash pt-2" aria-hidden="true" style="float: left;" title="Delete item" onclick="deleteItemByNumber('+index+')"></i>'
                +'<div class="col-sm-8" style="float: left;">'
                +'<input type="text" name="" id="inputItemName'+index+'" class="form-control" value="" required="required" >'
                +'</div>'
                +'<a data-toggle="modal" data-target="#itemModal'+index+'">'
                +'<i class="fa fa-list pt-2" aria-hidden="true" title="Select from list"></i>'
                +'</a>'
                +'<div class="modal fade" id="itemModal'+index+'" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">'
                +'<div class="modal-dialog" role="document">'
                +'<div class="modal-content">'
                +'<div class="modal-header">'
                +'<h5 class="modal-title">Item template</h5>'
                +'<button type="button" class="close" data-dismiss="modal" aria-label="Close">'
                +'<span aria-hidden="true">&times;</span>'
                +'</button>'
                +'</div>'
                +'<div class="modal-body">'
                +'<div class="container-fluid">'
                +'<div class="row">'
                +'<div class="form-group">'
                +'<input type="search" name="" id="input" class="form-control" value="" required="required" title="" style="float: left; border-radius: 20px; height: 90%;" placeholder="Search">'
                +'</div>'
                +'<br>'
                +'<table class="table table-striped" style="border: outset;" >'
                +'<thead>'
                +'<tr style="border-bottom: outset;">'
                +'<th scope="col">Item</th>'
                +'<th scope="col">Unit Price</th>'
                +'<th scope="col"></th>'
                +'</tr>'
                +'</thead>'
                +'<tbody id="listProduct'+index+'">'
                +'</tbody>'
                +'</table>'
                +'</div>'
                +'</div>'
                +'</div>'
                +'</div>'
                +'</div>'
                +'</div>'
                +'</td>'
                +'<td><input type="number" name="" id="inputItemQuantity'+index+'" class="form-control" value="1" required="required" onchange="change();" ></td>'
                +'<td><input type="text" name="" id="inputItemUnitPrice'+index+'" class="form-control" value="0" required="required"  disabled></td>'
                +'<td><input type="text" name="" id="inputItemTotal'+index+'" class="form-control" value="0" required="required"  disabled></td>'
                +'</tr>'
            );
            var idListProduct = "#listProduct"+index;
            for (var i = 0; i < listProduct.length; i++){
                $(idListProduct).append('<tr><td>'+listProduct[i].name+'</td><td>'+listProduct[i].price+'</td><td ><a href="#" onclick="insertProductById('+listProduct[i].id+','+index+')" data-dismiss="modal">insert</a></td></tr>');
            }
        });


        $("#btnAddDiscount").click(function(){
            $("#tblDiscount").append("<li>Appended item</li>");
        });
        $("#btnAddTax").click(function(){
            $("#tblTax").append("<li>Appended item</li>");
        });
    </script>
</body>
</html>