<!doctype html>
<html lang="en">
<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<!--    Navbar-->
<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top" style="height: 2.5em;">
        <a class="navbar-brand pl-5" href="#">
            <i class="fa fa-home" aria-hidden="true"></i>
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/user/invoice/">Invoices <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Expenses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contracts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Quotations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/report">Report</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/customer/">Customers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/user/payment">Payments</a>
                </li>
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">...</a>
                </li>
            </ul>
            <div class="form-inline my-2 my-lg-0 pr-5">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-suitcase" aria-hidden="true"></i>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <!-- <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="..." alt="..." class="rounded-circle">
                        </a> -->
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>


<div class="container">
    <div class="row pt-3">
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
            <legend class="font-weight-bold" style="color: green;">Payment</legend>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <button type="button" class="btn btn-outline-secondary"><i class="fa fa-arrow-left" aria-hidden="true" style="padding-right: 5px;"></i>Back</button>
        </div>
    </div>
    <hr>
    <br/>

    <div class="card">
        <div class="card-header" style="background-color: rgb(52, 167, 52);">
            <a  data-toggle="collapse" href="#newPaymentCollapse" role="button" aria-expanded="false" aria-controls="newPaymentCollapse" style="color: aliceblue;">
                <i class="fa fa-plus" aria-hidden="true" style="padding-right: 5px;"></i>
                New Payment
            </a>
        </div>
        <div class="card-body">
            <div class="collapse" id="newPaymentCollapse">
                <div class="row">
                    <div class="col-md-5 offset-md-1">
                        <table class="table table-borderless">
<!--                            <tr>-->
<!--                                <th style="text-align: right; padding-right: 20px;">Receipt No</th>-->
<!--                                <td style="color: rgb(62, 133, 62); font-family: Arial, Helvetica, sans-serif; font-size: large; font-weight: bolder;">R-20200000035</td>-->
<!--                            </tr>-->
                            <tr>
                                <th style="text-align: right; padding-right: 20px;">Customer*</th>
                                <td>
                                    <select name="" id="selectCustomer" class="form-control" required="required" onchange="getListInvoice();">
                                        <option value="-1">--</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th style="text-align: right; padding-right: 20px;">Payment Method</th>
                                <td>
                                    <select name="" id="selectMethod" class="form-control" required="required">
                                        <option value="Master Card">Master Card</option>
                                        <option value="Visa Card">Visa Card</option>
                                        <option value="Cash">Cash</option>
                                        <option value="Check">Check</option>
                                        <option value="Other">Other</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th style="text-align: right; padding-right: 20px;">Payment Date</th>
                                <td><input type="date" style="text-align: center" id="inputPaymentDate" class="form-control" value="" required="required" title=""></td>
                            </tr>
                            <tr>
                                <th style="text-align: right; padding-right: 20px;">Payment Amount*</th>
                                <td>
                                    <input type="number" style="text-align: right" id="inputPaymentAmount" class="form-control" value="0.00" step="" required="required" onchange="changeTotalPayment();">
                                </td>
                            </tr>
                        </table>
                        <br/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-11 ">
                        <table class="table table-striped table-bordered table-sm">
                            <thead
                                    style="background-color: rgb(80, 177, 80) ;color: aliceblue; font-family: Arial, Helvetica, sans-serif; text-align: center;">
                            <tr>
                                <th>#</th>
                                <th>Invoice No</th>
                                <th>Amount Due </th>
                                <th>Payment</th>
                                <th>Note</th>
                            </tr>
                            </thead>
                            <tbody id="tblInvoice">
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row" style="color: black; font-family: Arial, Helvetica, sans-serif; font-size: large; font-weight: bolder;">
                    <div class="col-md-2 offset-md-2">
                        Total:
                    </div>
                    <div class="col-md-2" id="totalDue">
                        0.00
                    </div>
                    <div class="col-md-2">
                        <input type="number" name="" id="inputTotalPaymentAmountItem" class="form-control" value="" required="required" title="" disabled>
                    </div>
                </div>
                <br/><br/><br/>
                <div class="row"style="align-content: center;">
                    <div class="col-md-2 offset-md-5">
                        <button type="button" class="btn btn-success" style="align-content: center;" onclick="savePayment();">
                            <i class="fa fa-check" aria-hidden="true"></i>
                            Save
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" style="background-color: rgb(52, 167, 52);">
            <a  data-toggle="collapse" href="#viewPaymentCollapse" role="button" aria-expanded="false" aria-controls="viewPaymentCollapse" style="color: aliceblue;">
                <i class="fa fa-plus" aria-hidden="true" style="padding-right: 5px;"></i>
                View Payment
            </a>
        </div>
        <div class="card-body">
            <div class="collapse" id="viewPaymentCollapse">
                <div class="row">
                    <div class="col-md-12">
                        <div style="color: rgb(70, 69, 69); font-weight: bold; font-family: Arial, Helvetica, sans-serif; float: left;">
                            Customer name:
                        </div>
                        <select name="" id="selectCustomerView" class="form-control" required="required" style="float: left; width: 300px; height: 30px;" placeholder="Customer name">
                            <option value="-1">--</option>
                        </select>
                        <div style="color: rgb(70, 69, 69); font-weight: bold; font-family: Arial, Helvetica, sans-serif; float: left; padding-left: 30px;">
                            From
                        </div>
                        <input type="date" name="" id="inputStartDate" class="form-control" value="" required="required" title="" style="float: left; width: 175px; height: 30px;">
                        <div style="color: rgb(70, 69, 69); font-weight: bold; font-family: Arial, Helvetica, sans-serif; float: left; padding-left: 30px;">
                            To
                        </div>
                        <input type="date" name="" id="inputEndDate" class="form-control" value="" required="required" title="" style="float: left; width: 175px; height: 30px;">
                        <div style="padding-right: 50px;">
                            <button type="button" class="btn btn-outline-secondary btn-sm" style="width: 100px;" onclick="searchClick();">Search</button>
                        </div>
                    </div>
                </div>

                <div id="content">

                </div>
            </div>
        </div>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<!-- ajax -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- Optional JavaScript -->

<script type="text/javascript" src="/newPayment.js">

</script>
<script src="jquery.tableToExcel.js"></script>

</body>
</html>